.content {
  .score {
    float: right;
  }
  .question {
    font-size: 30px;
    padding-bottom: 30px;
  }
  .answers {
    .answer {
      padding: 10px 0px;
      font-size: 30px;
      font-weight: bold;
      background: orange;
      color: white;
      &:hover {
        background: lightgrey;
        color: black;
        cursor: pointer;
      }
    }
  }
}