<div ng-include="'components/navbar/navbar.html'"></div>

<header class="content" id="banner">
    <div class="container">
        <div class="score">Score: {{DisOrDatCtrl.getScore()}}</div>
        <div ng-if="loading" class="loader">
            <div class="result" ng-if="!loadingError && firstQuestionLoaded">
                <span ng-if="isCorrect" class="correct"><i class="fa fa-check"></i> Juist!</span>
                <span ng-if="!isCorrect" class="wrong"><i class="fa fa-close"></i> Fout!</span>
            </div>
            <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>

            <div class="loader-text">Vraag wordt geladen...</div>
        </div>
        <div ng-if="!loading">
            <div ng-if="loadingError">
                <div class="message">De vraag kon niet geladen worden</div>
                <div ng-click="DisOrDatCtrl.loadQuestion()" class="thumbnail button">
                    Laad nieuwe vraag
                </div>
            </div>
            <div ng-if="!loadingError">
                <div class="image" ng-if="question.imageUrl">
                    <img ng-src="{{question.imageUrl}}">
                </div>
                <div class="question">{{question.question}}</div>
                <div class="row answers">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="answer in question.answers">
                        <div ng-click="DisOrDatCtrl.submitAnswer(question.id, answer.id)" class="thumbnail answer">
                            {{answer.value}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<footer class="footer">
    <div class="container">
        <p>Copyright AE nv 2015
    </div>
</footer>
