.content {
  .logo {
    width: 100%;
    max-width: 600px;
  }

  h1 {
    font-weight: bold;
  }

  .lead {
    font-size: 30px;
  }

  a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background: lightgrey;
    border: none;
    color: black;
    padding: 20px 0px;

    &:hover {
      background: greenyellow;
    }
  }
}