<header ng-include="'components/navbar/navbar.html'"></header>

<main class="content">
    <div class="container">
        <h1><img src="assets/images/aegames.png" alt="ae" class="logo"></h1>

        <p class="lead">Hoe goed ken jij jouw bedrijf?</p>

        <div class="row" ng-if="HomeCtrl.getUserName()">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="/disordat" class="thumbnail">
                    Speel Dis or Dat
                </a>
                <a href="/user" class="thumbnail login">
                    Wijzig gebruikersnaam
                </a>
            </div>
        </div>
        <div class="row" ng-if="!HomeCtrl.getUserName()">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="/user" class="thumbnail login">
                    Login
                </a>
            </div>
        </div>
    </div>
</main>

<footer ng-include="'components/footer/footer.html'"></footer>
